body{
    background-color:#03071e
}
#home{
    padding-top: 120px;
}
nav{
   width:100%;
   position:fixed;
   top:0;
   left:0;
   z-index:1;
   display:flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: white;
   padding-bottom: 20px;
}
nav ul {
    list-style: none;
    display:flex;
    font-size:20px;
    font-family: 'poppins', sans-serif;
    
}
ul li a{
    padding:0px 40px;
    border:2px solid transparent;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    border-top-color:rgb(211,211,0);
    border-bottom-color:rgb(211,211,0);
    color:rgb(211,211,0);
}
.logo{
    width:100px;
    padding:50px;
    margin-left: 240px;
}
@media screen (max-width:1000px){
    .logo{
        padding:2px;
        justify-content:flex-start;
    }
}

/* --------!about------ */
#about{
    width:100%;
    padding:90px 0;
}
.title{
    color:white;
    padding-left:70px;

}
.col2 span{
    color:#faa307;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  gap:60px;
  color:white;
}
.col1{
   width:30%;
   padding-top:90px;
}
.col1 img{
    width:70%;
    border-radius: 15px;
    padding-left:0px;
}
.col2 {
    width:30%;
    padding-left:40px;
    padding-right:0px ;
}
.col2 p{
    padding-top:20px; 
    font-size: 20px;
    font-weight:600;
    
}

    

/* -----------sevices--------- */
#services{
    padding:200px 10px;
}
.services-list{
   display:grid;
   grid-template-columns: 300px 300px 300px 300px;
   grid-gap:40px;
    margin-top:50px;
    color:white;
    justify-content: center;
}
.services-list div{
    background-color:#e85d04;
    padding:20px;
    border-radius: 5px;
    background: transition 0.5s,transform 0.5s;
}
.services-list div i{
    font-size:30px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size:30px;
    margin-bottom:15px;
}
.services-list div a{
    color:white;
    font-size: 15px;
    margin-top:20px;
    text-decoration: none;
}
.services-list div:hover{
 background-color:#9d0208
}
/* .images{
  width:100%;
  display:flex;
  justify-content: center;
   gap:10px; 

} */
.images{
        display:grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-gap:40px;
        margin-top:50px;
        justify-content: center;
        border-radius:3px ;
}
/* .gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; */

.gallery{
    padding:20px;
    margin-left: -7px;
    border-radius: 5px;
}
.gallery img{
    width:110%;
    border-radius: 3px;
}

/* -------------contact------------ */
#contact{
    padding:200px 0px;
}
.row{
    width:100%;
}
/* .row i{
  color: #ff004f;
} */

.contact-left{
    flex-basis:35%;
}
.contact-left p i{
    color:#e9d1b9;
}
.contact-right{
    flex-basis:60%;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right:15px;
    display: inline-block;
}
.social-icons a i{
   color:#e9d1b9;
   gap: 30px;
}
.cv{
    padding:10px;
    color:black;
    margin-top:20px;
    background-color: #f29a5b;
}
.contacts-right{
   padding:30px;
   padding-bottom: 20px;
   flex-direction: column;
   margin-bottom: 30px;
   border-radius: 3%;
}
.submit{
    width:30%;
    background-color: #f29a5b;
    padding:10px;
    display:flex;
    margin-left: 7%;
}